config/InvTweaks/InvTweaks.cfg
config/jei/worldSettings.cfg
config/multimine.cfg
/.mixin.out/audit/
/assets/
/bendspacks/
/bin/
/crash-reports/
/screenshots/
/shaderpacks/
/resourcepacks/
/logs/
/local/
/llibrary/
/libraries/
/game/
/tools/
/versions/
/runtime/jre-x64/
/config/tellme/
/saves/
/banned-ips.json
/banned-players.json
/crafttweaker.log
/eula.txt
/forge-1.12.2-14.23.5.2847-universal.jar
/hs_err_pid18424.log
/launcher_profiles.json
/launcher_skins.json
/manifest.json
/minecraft.exe
/minecraft_server.1.12.2.jar
/minecraftinstance.json
/ops.json
/options.txt
/optionsof.txt
/optionsshaders.txt
/patchouli_data.json
/server.properties
/servers.dat
/start_server.bat
/start_server.sh
/usercache.json
/usernamecache.json
/whitelist.json
/.idea/
/debug/
